<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <a href= '/'>Main page</a> 
    <a href="/login">Dont cry alone</a>
    <a href='/signup'>Join the pity party</a>
    <a href='/home'>Fellow members</a>

    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    <ul>
        {% for message in messages %}
     <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}
    <a href="/logout">Logout</a>
</body>
</html>