{% extends "base.html" %}

{% block content %}
<h1>Misery loves company</h1>

<form action="/signup" method= "POST" >
   <div class='group'> 
    <label>
        <!--todo- keep valid content in fields when refreshing for flash message-->
        Username
        <input type="text" name="new-user" value="{{username}}"/>
    </label>   
        </br> </br> 
    <label> 
        password
        <input = type='password' name='password'/>        
    </label>
</br> </br>
    <label>
        confirm password
        <input type='password' name = 'confirm-password'/>
    </label>
</br></br>
    <label>
        User Email (optional)
        <input ='text' name= 'email' value="{{email}}"/>
    </label>
</br></br>
    <input type="submit"/>
    </div>  
</form>

{% endblock %}

